
/*H1 Styling for all pages and logo*/

.Home1Logo::after {
  content: "";
  display: block;
  clear: both;
  }

  .Temples1Logo::after {
    content: "";
    display: block;
    clear: both;
    }

.Logo1:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
float: center;
}

.Home1 {
float: left;
color: darkred;
font-size: 50px;
font-family: Garamond;
}

.Temples1 {
  float: left;
color: darkred;
font-size: 50px;
font-family: Garamond;
}

.Geishas1 {
  float: left;
color: darkred;
font-size: 50px;
font-family: Garamond;
}


.TeaCeremony1 {
  float: left;
color: darkred;
font-size: 50px;
font-family: Garamond;
}

.Contact1 {
  float: left;
color: darkred;
font-size: 50px;
font-family: Garamond;

}

/* Dropdown menu button styling */

.Menubtn {
  float: right;
  background-color: linen;
  color: darkred;
  font-style: Garamond;
  padding: 20px;
  font-size: 25px;
  border: 15px;
  border: 3px solid darkred;
  border-radius: 5%;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
  border: 15px;
}

.MenuContent {
display: none;
position: absolute;
background-color: lightpink;
min-width: 150px;


}

.MenuContent a {
color: black;
font-style: Garamond;
padding: 15px 17px;
display: block;

}

.MenuContent a:hover {background-color: lightblue;}
.dropdown:hover .MenuContent {display: block;}
.dropdown:hover .Menubtn {background-color: lightblue;}

/*End of Menu styling */


/*Home page styling*/
/*could not make animated menu button work - used transition, failed*/

.Welcome1 {
  text-align: left;
  float: left;
  color: black;
  font-size: 30px;
  font-family: Garamond;
}

.Welcome2 {
  text-align: left;
  float: left;
  color: black;
  font-size: 30px;
  font-family: Garamond;
}

.Container1::after {
content: "";
display: block;
clear: both;
}

.JFlag1 {
  float: left;
  background-color: ivory;
  width: 601px;
  height: 378px;
  margin: 20px;
  border-radius: 5%;
}

.Par1 {
  float: center;
  font-size: 30px;
  font-family: Garamond;
  color: black;
}

.SlideShow2::after {
content: "";
display: block;
clear: both;
  float: center;
    background-color: ivory;
    text-align: left;
    color: black;
    opacity: 1;
    font-family: Garamond;
    font-size: 15px;
    border-radius: 5%;

}
.SlideHome1 {
  float: center;
  width: 625px;
  border-radius: 5%;
}

.Par2 {
  float: center;
  font-size: 30px;
  font-family: Garamond;
  color: black;
}


/*Fallback message styling*/
.Videofallback1 {
  color: darkred;
  font-size: 15px;
  font-family: Garamond;
  font-style: italic;
  margin: 1px;
  padding: 3px;
  border: 3px solid darkred;
  border-radius: 5%;

}

/*Footer style - applied on all pages*/
.Footer1 {
  float: left;
  background-color: inherit;
  text-align: left;
  color: darkred;
  opacity: 1;
  font-family: Garamond;
  font-size: 10px;
  margin: 1px;
  padding: 1px;
  box-sizing: 50%;
}


.StoryMap1::after {
content: "";
display: block;
clear: both;
}

.StoryMap2 {
  float: left;
  width: 25%;
margin: 30px;
border-radius: 5%;
background-color: inherit;
}

.Par3 {
  float: center;
  font-size: 45px;
  font-family: Garamond;
  color: black;
}

.Par4 {
  float: center;
  font-size: 30px;
  font-family: Garamond;
  color: black;
}

/*Temples Page styling*/
.History1 {
  float: center;
    background-color: inherit;
    text-align: left;
    color: black;
    opacity: 1;
    font-family: Garamond;
    font-size: 30px;
    border-radius: 5%;
    }

.TemplesContainer::after {
content: "";
display: block;
clear: both;
}

.Temples6 {
  float: left;
    margin: 15px;
    border-radius: 5%;
    width: 27%;
}

.TopTemples{
  float: center;
  color: darkred;
  font-size: 35px;
  font-family: Garamond;
}

.TemplesList {
  float: center;
  color: black;
  font-size: 30px;
  font-family: Garamond;
}

.ReligionSection::after {
content: "";
display: block;
clear: both;
}

.ReligionsSlide {
  float: left;
  width: 27%;
  margin: 15px;
  border-radius: 5%;
  background-color: inherit;
}

.ReligionTxt {
  float: center;
  color: black;
  font-size: 30px;
  font-family: Garamond;
}

/*Geisha Pages Styling*/
.GPar1 {
  float: center;
  color: black;
}

.Gh1 {
  font-size: 35px;
  font-family: Garamond;
}

.Gh2 {
  font-size: 30px;
  font-family: Garamond;
}

.GeishaImage1::after {
  content: "";
  display: block;
  clear: both;
  }

  .GImage1 {
    float: left;
    width: 25%;
    margin: 20px;
    border-radius: 5%;

  }

.Gh3 {
  float: center;
  color: black;
  font-size: 30px;
  font-family: Garamond;
}

.MakeUpImgs {
  color: black;
  font-size: 35px;
  font-family: Garamond;
  border-radius: 5%;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Created three equal columns, next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}

.Makeuptxt {
  float: center;
  color: black;
  font-size: 30px;
  font-family: Garamond;
}

.AudioGh {
  float: left;
  background-color: inherit;
}

.AudioFallback {
  float: center;
  color: darkred;
  font-size: 15px;
  font-family: Garamond;
  font-style: italic;
  margin: 1px;
  padding: 3px;
  border: 3px solid darkred;
}


/*Tea Ceremony page style */

.Tea1 {
  border-radius: 5%;
  width: 25%;
  background-color: inherit;
}

.TeaText1 {
  float: left;
  color: black;
  font-size: 30px;
  font-family: Garamond;
}

.TeaVideo1 {
  border-radius: 5%;
  width: 50%;
  background-color: inherit;
}

.TeaVideotxt1 {
  float: left;
  color: black;
  font-size: 30px;
  font-family: Garamond;
}

.TeaSlide5{
  border-radius: 5%;
  float: left;
  width: 25%;
  background-color: inherit;
}

.TeaslideTxt {
  float: left;
  color: black;
  font-size: 30px;
  font-family: Garamond;
}

.TeaList1 {
  float: left;
  color: black;
  font-size: 30px;
  font-family: Garamond;
}
/*end of Tea Ceremony page style*/

/*Contact page style*/
.Contact2 {
  float: left;
  color: black;
  font-size: 25px;
  font-family: Garamond;
}

.Animation1 {
  float: left;
  background-color: inherit;
  width: 481px;
  height: 265px;
  border-radius: 5%;
  margin-left: 15px;
}

.AnimationContact::after {
content: "";
display: block;
clear: both;
}

.ContactTxt1 {
  float: center;
  color: black;
  font-size: 30px;
  font-family: Garamond;
}

.Exittxt1 {
  float: center;
  color: black;
  font-size: 30px;
  font-family: Garamond;
}

.Maru1 {
  background-color: inherit;
  border-radius: 5%;
}
